PORT=8000
MONGODB_URI= mongodb://youruri.link_pastehere
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET= your_secret_key
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET= your_secret_key
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME= your_cloudinary-name
CLOUDINARY_API_KEY= your_cloudinary:api_key
CLOUDINARY_SECRET=your clousinary->secret